@import url("../../../style/constants/constant.css");
@import url("../../../style/animations/index.css");

.middle {
  grid-column-start: 2;
  grid-column-end: 4;
}

img {
  display: block;

  object-fit: cover;
}
