.friends-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(10rem, 1fr));
    grid-template-rows: repeat(3, minmax(12rem, 1fr));
    gap: 1rem;

    margin-top: 1rem;
}

.friends-grid img {
    object-fit: cover;
}
