@import url("../../../../constants/constant.css");
@import url("../../../../animations/index.css");

.middle {
    grid-column-start: 2;
    grid-column-end: 4;
}

.profile-pic {
    width: 4rem;
    height: 4rem;

    border: 1px solid var(--color-dark);
    border-radius: 50%;

    overflow: hidden;
}

img {
    display: block;

    object-fit: cover;
}

/* =========================== POSTS =========================== */
.middle .posts .post {
    background-color: var(--color-white);

    border-radius: var(--card-border-radius);

    margin: 1rem 0;
    padding: var(--card-padding);

    font-size: 1rem;
    line-height: 1.5;
}

.middle .post .head {
    display: flex;
    justify-content: space-between;
}

.middle .post .user {
    display: flex;
    gap: 1rem;
}

.middle .post .info:hover {
    color: unset;
}

.middle .post .info:hover > h3 {
    text-decoration: underline;
}

.middle .post .photo {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    margin: 1rem 0;
}

.middle .post .post-settings {
    width: 3.2em;
    height: 3.2em;

    font-size: 0.8em;

    position: relative;
}

.middle .post .dots {
    width: 100%;
    height: 100%;

    padding: 0.5em;

    border-radius: 50%;

    transition: 0.3s;

    cursor: pointer;
}

.middle .post .dots:hover {
    color: var(--color-white);

    background: var(--color-primary);
}

.middle .post .action-buttons {
    font-size: 1.4rem;

    margin: 0.6rem;
}

.middle .post .action-buttons .share:hover {
    color: var(--color-blue);
}

.middle .post .action-buttons .comment:hover {
    color: var(--color-success);
}

.middle .post .action-buttons .heart:hover {
    color: var(--color-danger);
}

.interaction-buttons span {
    cursor: pointer;
}

.middle .liked-by {
    display: flex;
    align-items: center;
}

.middle .liked-by span {
    display: block;

    width: 2.4rem;
    height: 2.4rem;

    border-radius: 50%;
    border: 2px solid var(--color-white);

    overflow: hidden;

    margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
    margin: 0;
}

.middle .liked-by p {
    margin-left: 0.5rem;
    margin-bottom: 0;
}

.middle .caption p {
    margin: 1rem 0;

    font-size: 1.3rem;
}

.middle .btn-loadmore {
    border: none;

    padding: 1rem 3rem;
}

.middle .btn-loadmore:hover {
    border: none;

    color: white;

    background: var(--color-primary);
}

/* --------------------Post setting------------------------- */
.hide {
    display: none;
}

.edit-post {
    width: 25rem;

    top: 120%;
    right: -28%;
    position: absolute;

    background: var(--color-primary);

    border-radius: 1rem;
    border: 0.5px solid var(--color-primary-light);

    font-size: 1rem;
}

.edit-post::after {
    content: "";

    width: 1rem;
    height: 1rem;

    top: -2.2%;
    right: 7%;
    position: absolute;

    transform: rotate(45deg);

    border-top: 1px solid var(--color-primary-light);
    border-left: 1px solid var(--color-primary-light);

    background-color: var(--color-white);
}

.edit-post > ul {
    padding: 0;

    font-size: 1.4em;

    margin: 0;
}

.edit-post > ul > li {
    display: flex;
    align-items: center;

    cursor: pointer;

    padding: 1.2rem;

    background-color: var(--color-white);
}

hr {
    margin: 0 1rem;
}

.edit-post .delete-post {
    color: red;
    font-weight: bold;
}

.edit-post > ul > li:hover {
    background-color: var(--color-light);
}

.edit-post > ul > li:first-child {
    border-radius: 1rem 1rem 0 0;
}

.edit-post > ul > li:last-child {
    border-radius: 0 0 1rem 1rem;
}

.edit-post > ul > li > span {
    margin-right: 1rem;
}

/* =========================== CREATE POST =========================== */
.middle .create-post {
    width: 100%;

    margin-top: 1rem;
    padding: 0.4rem var(--card-padding);

    background-color: var(--color-white);

    border-radius: var(--border-radius);
}

.middle .create-post-wrapper {
    width: 100%;
}

.middle .create-post-wrapper input[type="text"] {
    width: 90%;
    height: 5rem;

    font-size: 1.4rem;
    color: var(--color-dark);

    justify-self: start;

    background-color: transparent;
}

.middle .create-post-wrapper input:-webkit-autofill,
.middle .create-post-wrapper input:-webkit-autofill:hover,
.middle .create-post-wrapper input:-webkit-autofill:focus,
.middle .create-post-wrapper input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff !important;

    transition: background-color 5000s ease-in-out 0s;
}

.middle .sidebar-icon {
    color: var(--color-primary);
}

.middle .create-post-icons span {
    padding: 1rem;

    cursor: pointer;
}
