.messages {
    background-color: var(--color-white);

    border-radius: var(--card-border-radius);

    padding: var(--card-padding);
}

.messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;
}
