@import "../../constants/constant.css";
@import "../../responsive/small-laptop/small-laptop.css";
@import "../../responsive/big-tablet/big-tablet.css";
@import "../../responsive/mobile/mobile.css";

.text-bold {
    font-weight: 500;
}

/*=========================== MAIN ===========================*/
main {
    position: relative;
}

main .container {
    display: grid;
    grid-template-columns: repeat(4, minmax(5rem, 1fr));
    column-gap: 2rem;

    width: 100%;

    margin-top: 5%;

    position: relative;
}
