.search-bar input[type="search"] {
    width: 30vw;

    margin-left: 1rem;

    font-size: 1.4rem;
    color: var(--color-dark);

    border: none;
}

.search-bar {
    display: flex;

    background-color: var(--color-light);

    border-radius: var(--border-radius);

    margin-bottom: 1rem;
    padding: var(--search-padding);
}

.category {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
}

.category h6 {
    width: 100%;

    font-size: 1.3rem;
    text-align: center;

    border-bottom: 3px solid var(--color-light);

    padding-bottom: 0.5rem;
}

.category .active {
    border-color: var(--color-dark);
}

.message-requests {
    color: var(--color-primary);
}

.message-sidebar {
    display: flex;

    gap: 1rem;

    margin-bottom: 1rem;
}

.message-item {
    max-height: max-content;

    overflow-y: auto;
}

.message-sidebar .profile-pic {
    position: relative;

    overflow: visible !important;
}

.profile-pic img {
    border-radius: 50%;
}

.message:last-child {
    margin: 0;
}

.message-sidebar p {
    font-size: 1.2rem;
}

.message-sidebar .active::before {
    content: "";

    width: 1.2rem;
    height: 1.2rem;

    border-radius: 50%;
    border: 3px solid var(--color-white);

    bottom: 0;
    right: 0;
    position: absolute;

    background-color: var(--color-success);
}
