@import url("../../../../../constants/constant.css");

/* SEARCH BAR */

.search-bar input[type="search"] {
    width: 30vw;

    margin-left: 1rem;

    font-size: 1.4rem;
    color: var(--color-dark);

    border: none;
}

.search-bar {
    display: flex;
    align-items: center;

    background-color: var(--color-light);

    border-radius: var(--border-radius);

    margin-bottom: 1rem;
    padding: var(--search-padding);
}

/* CATEGORY */

.category {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
}

.category h6 {
    width: 100%;

    font-size: 1.3rem;
    text-align: center;

    border-bottom: 3px solid var(--color-light);

    padding-bottom: 0.5rem;
}

.category .active {
    border-color: var(--color-dark);
}

/* MESSAGE  */

.message-requests {
    color: var(--color-primary);
}

.message-sidebar {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    margin-bottom: 1rem;
}

.message-sidebar:last-child {
    margin-bottom: 0;
}

.message-item {
    max-height: max-content;

    overflow-y: auto;
}

.message-sidebar .profile-pic {
    position: relative;

    overflow: visible !important;
}

.profile-pic img {
    border-radius: 50%;
}

.message:last-child {
    margin: 0;
}

.message-sidebar p {
    font-size: 1.2rem;
}

.message-sidebar .message-item {
    width: 100%;
    padding: 0 1rem;

    position: relative;
}

.message-sidebar .message-item:hover {
    background: var(--color-light);
    border-radius: 1rem;

    cursor: pointer;
}

.message-sidebar .message-item .avatar-user {
    width: 3em;
    height: 3em;

    border-radius: 50%;

    position: relative;
}

.message-sidebar .message-item .avatar-user {
    border: 1px solid var(--color-primary);
}

.message-items {
    max-height: 50vh;

    overflow-y: auto;
}
