*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-light);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: var(--color-dark);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
}

ul {
    list-style: none;
}

.link-underline:hover {
    text-decoration: underline;
    color: unset;
    cursor: pointer;
}

.profile-pic {
    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-primary);

    border-radius: 50%;

    overflow: hidden;
    object-fit: cover;
}

.profile-pic img {
    object-fit: cover;
}

.author {
    color: var(--color-author);
}

.overflowXHidden {
    overflow-x: hidden;
}

.overflowYHidden {
    overflow-y: hidden;
}

.delete-image {
    font-size: 2rem;

    top: 2%;
    right: 2%;
    position: absolute;

    cursor: pointer;
}

/* CUSTOME SCROLLBAR */

/* For Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ccc #fff;
}

/* Custom styling of scrollbar thumb */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 5px;
}

/* Custom styling of scrollbar track */
.scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-primary-light);
}

/* ONLINE STATUS */
.online-status {
    position: relative;
}

.online-status::before {
    content: "";

    width: 1.2rem;
    height: 1.2rem;

    border-radius: 50%;
    border: 3px solid var(--color-white);

    top: 70%;
    right: 0;
    position: absolute;

    background-color: var(--color-success);
}
