.stories {
    height: 15rem;
    gap: 0.5rem;
}

.stories .story-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: white;
    font-size: 1rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.stories .story-item::before {
    content: "";
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
}

.stories .story-item .name {
    z-index: 2;
}

.stories .story-item:nth-child(1) {
    background: url("https://images.unsplash.com/photo-1656354798706-bc0c3b99f291?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNzd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
        no-repeat center center/cover;
}

.stories .story-item:nth-child(2) {
    background: url("https://images.unsplash.com/photo-1656602887511-30162cceffe9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
        no-repeat center center/cover;
}

.stories .story-item:nth-child(3) {
    background: url("https://images.unsplash.com/photo-1656437660370-4e8886a0e8ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
        no-repeat center center/cover;
}

.stories .story-item:nth-child(4) {
    background: url("https://images.unsplash.com/photo-1656524137248-f4e407be2c51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1248&q=80")
        no-repeat center center/cover;
}

.stories .story-item:nth-child(5) {
    background: url("https://images.unsplash.com/photo-1656576413714-b3e5a3d2aab3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNTV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
        no-repeat center center/cover;
}

.stories .story-item:nth-child(6) {
    background: url("https://images.unsplash.com/photo-1656473031961-9d5d9ee19f40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNjh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60")
        no-repeat center center/cover;
}

.story-item .profile-pic {
    align-self: flex-start;
    border: 3px solid var(--color-primary);
}
