@import url("../../../constants/constant.css");

.middle-msg-page {
    border: 0.5px solid rgba(204, 204, 204, 0.337);

    grid-column-start: 2;
    grid-column-end: 4;
}

.middle-msg-page .middle-container {
    height: 100%;
}

/* HEADER */
.middle-msg-page .middle-container .middle-container-header {
    border-left: 0;
    border-right: 0;
    border: 0.5px solid rgba(204, 204, 204, 0.337);
}

.middle-msg-page .middle-container .middle-container-header .icon {
    position: relative;
}

.middle-msg-page
    .middle-container
    .middle-container-header
    .icon:hover::before {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;

    position: absolute;
    top: 110%;
    left: 50%;

    transform: translateX(-50%);

    color: #fff;
    background: #000;

    padding: 0.5rem;

    border-radius: 0.5rem;
}

.middle-container .middle-container-header .middle-avatar-chat {
    width: 4rem;
    height: 4rem;
}

.middle-container .middle-container-header .icon {
    width: 4rem;
    height: 4rem;
}

.middle-msg-page .middle-container .icon:hover {
    cursor: pointer;

    background: var(--color-bg-hover);
}

/* BODY */
.middle-msg-page .middle-container .middle-container-body {
    height: 74vh;

    overflow-y: auto;
    overflow-x: hidden;
}

.middle-container
    .middle-container-body
    .middle-container-body__right-text
    .middle-container-body__right-message-content,
.middle-container
    .middle-container-body
    .middle-container-body__left-text
    .middle-container-body__left-message-content {
    width: fit-content;

    border-radius: 1rem;

    padding: 1.5% 2%;
    background: var(--color-primary);

    font-weight: 600;
    word-break: break-word;
    color: white;
}

.middle-container
    .middle-container-body
    .middle-container-body__right-text
    .middle-container-body__right-time,
.middle-container
    .middle-container-body
    .middle-container-body__left-text
    .middle-container-body__left-time {
    font-size: 0.8em;
    font-weight: lighter;
}

/* FOOTER */
.middle-msg-page .middle-container .middle-container-footer {
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
}

.middle-msg-page .middle-container .middle-container-footer .icon {
    width: 3rem;
    height: 3rem;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;

    background: var(--color-primary);

    position: relative;
}

.middle-msg-page .middle-container .icon::before {
    content: attr(aria-label);

    font-size: 0.8em;

    display: none;
}

.middle-msg-page
    .middle-container
    .middle-container-footer
    .icon:hover::before {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10rem;

    position: absolute;
    bottom: 110%;
    left: 50%;

    transform: translateX(-50%);

    color: #fff;
    background: #000;

    padding: 0.5rem;

    border-radius: 0.5rem;
}

.middle-msg-page .middle-container .middle-container-footer .icon:hover {
    background: var(--color-primary-light);
}

.middle-msg-page .middle-container .middle-container-footer .user-input-chat {
    display: flex;
    justify-content: center;

    width: 75%;
}

.middle-msg-page
    .middle-container
    .middle-container-footer
    .user-input-chat
    input {
    width: 100%;
}

.middle-msg-page
    .middle-container
    .middle-container-footer
    .user-input-chat
    input:focus {
    outline: 2px solid var(--color-primary);
}

/* Popup */
#confirm {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 45%;
    height: fit-content;

    border-radius: 1rem;

    background: rgba(0, 0, 0, 0.744);
    border: 1px solid var(--color-primary);

    position: absolute;
}

#confirm .close:hover {
    cursor: pointer;

    font-weight: bold;
}
