*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-light);
    height: 100rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    color: var(--color-dark);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary);
}

ul {
    list-style: none;
}
