@import "../../../../components/varible/varible.css";

/* BANNER PROFILE */

.cover .edit-cover {
    width: 8em;
    padding: 0.6rem;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid;
    border-radius: 1rem;
    color: #000;
    background: #fff;
    bottom: 5%;
    right: 2%;
    cursor: pointer;
    position: absolute;
}
